body {
	text-align: center;
}
/*start header css */
.header {
	background-image: url("./image/boy-with-laptop.jfif");
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}
.nav {
	display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.nav-1 {
    display: flex;
    align-items: center;
}
.icon {
    padding: 10px;
    border: 1px transparent;
    border-radius: 15px;
    color: blue;
    font-size: 30px;
}
.text {
	color: blue;
    font-size: 20px;
}
.log-in-button {
	background-color: blue;
    color: white;
    width: 80px;
    border-radius: 6px;
    height: 30px;
}
.header-text {
	color: white;
}
.sign-up-button {
	background-color: blue;
    width: 325px;
    height: 55px;
    color: white;
}
/*end header css */

/*start main css */
main {
	margin-top: 30px;
    margin-bottom: 70px;
    background-color: #f2f2f2;
}
.description {
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.description-text {
	margin-top: 15px;
    margin-bottom: 0px;
}
.description-heading {
	margin-top: 10px;
    margin-bottom: 0px;
}
.aside-1 {
	text-align: left;
	width: 40%;
}
.aside-2 {
	width: 30%;
    margin-top: 60px;
}
.aside-2-para {
    text-align: left;
}
.about-courses {
	width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}
.section {
	width: 30%;
	text-align: left;
	background-color: white;
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 50px;
    margin: 50px;
}
.section-img {
	width: 70px;
    height: 70px;
}
/*end main css */

/*start summary css */
.summary {
	background-image: url("./image/pexels-photo.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 350px;
}
.summary-description {
	display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    width: 100%;
}
.summary-aside-1 {
	width: 24%;
    padding-top: 90px;
}
.summary-text {
	padding-right: 15px;
    margin-bottom: 10px;
}
.summary-aside-2 {
	width: 33%;
    padding-top: 80px;
}
/*end summary css */

/*start article css */
.article {
	display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #f2f2f2;
    align-items: center;
    height: 400px;
}
.article-section {
	width: 30%;
    display: flex;
    background-color: white;
}
.article-heading {
    text-align: left;
    padding-left: 15px;
}
.article-para {
    text-align: left;
    padding-left: 15px;
}
.article-img {
	width: 150px;
    height: 200px;
}
/*end article css */

/*start footer css */
 .about-learnest {
 	display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 100px;
    margin-bottom: 100px;
 }
 .footer-section {
 	width: 25%;
    padding-left: 15px;
 }
 .footer-para {
    text-align: left;
    padding-left: 10px;
 }
 .tag {
    display: flex;
 }
 ul {
 	list-style-type:none;
 }
 .software-list {
 	padding-left: 78px;
 }
 .institute-list {
 	padding-left: 102px;
 }
 li {
 	margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
 }
 .social-list {
    display: flex;
    align-items: baseline;
    margin-left: 40px;
 }
 .icons {
    padding: 10px;
    background-color: blue;
    border: 1px transparent;
    border-radius: 15px;
    margin-right: 10px;
    color: white;
 }
 .facebook {
    height: 10px;
 }
 .social {
    height: 10px;
    width: 10px;
 }
 .terms {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: #f2f2f2;
    padding-top: 40px;
    padding-bottom: 40px;
 }
 .terms-section {
    display: flex;
 }
 .terms-para {
    margin-left: 15px;
    padding-left: 15px;
 }
 .copyright {
    text-align: left;
    margin-left: 30px;
 }
 .pvt-ltd {
    margin-right: 30px;
 }
/*end footer css */